@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<hr class="my-5">
<p class="text-white">
    Endereço: R. do Cemitério, 900, 47100-000, (Próximo a Oficina de Guerren), Cidade de BARRA/BA
</p>
