@{
    ViewData["BR Borracharia"] = "Home Page";
}

<div class="text-center text-white">

    <h1 class="text-white">BR Borracharia</h1>
    <p>Sua borracharia na cidade de Barra.</p>
</div>

<div class=""

        <div class="col-lg-7 text-center text-lg-start text-white">
            <h1 class="display-4 mb-4 text-primary">Sua Segurança em Nossas Mãos!</h1>
    <p class="lead mb-4 text-white">
                Com anos de experiência e paixão pelo que fazemos, a BR Borracharia é o seu parceiro de confiança
                quando o assunto é o cuidado com os pneus e a segurança do seu veículo.
                Nossa missão é oferecer serviços de borracharia de alta qualidade, com agilidade, transparência e o melhor custo-benefício.
            </p>
           
            
            <hr class="my-5">
    <p class="text-success text-white">
                Na BR Borracharia, a sua tranquilidade é a nossa prioridade.
            </p>
        </div>


