@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="col-lg-6 text-center">
    <img src="~/css/só aqui! (2).png" class="img-fluid rounded shadow" alt="BR Borracharia: Pneus e Segurança Veicular">
</div>


<div class="col-lg-6 text-center">
    <img src="~/css/só aqui! (1).png" class="img-fluid rounded shadow" alt="BR Borracharia: Pneus e Segurança Veicular">
</div>