@{
    ViewData["Title"] = "Sobre";
}

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-6 text-center mb-4 mb-lg-0">
            <img src="~/css/só aqui! (2).png" class="img-fluid rounded shadow" alt="BR Borracharia: Pneus e Segurança Veicular">
        </div>

        <div id="sobre" class="col-lg-6 text-center text-lg-start text-white">
            <h2 class="display-5 mb-4 text-primary">Nossa História</h2>
            <p class="lead mb-4">
                A BR Borracharia tem sido um pilar na comunidade de Barra.
                Começamos com a missão de oferecer serviços de alta qualidade com um atendimento excepcional.
                Nossa equipe é dedicada a garantir a segurança e a satisfação dos nossos clientes.
                Confiabilidade e paixão pelo que fazemos nos definem!
            </p>
        </div>

    </div>
</div> 


